<!DOCTYPE html>
<html>
<head>
  <title>vue-schema</title>
  <link rel="stylesheet" href="app.css" />
</head>
<body>
  <div id="editor">
    <div id="left-side">
      <ul class="schema-links" v-component="schema-links">
        <li v-repeat="links"><a href="{{$value}}"
          v-on="click: setHref">{{$key}}</a></li>
      </ul>
      <div id="input">
        <div v-if="!schema.properties"><em>Pick a schema. Any schema!</em>
            <br /><small>Or paste one in the textarea below.</small></div>
          <h1>{{schema.title}}</h1>
          <div v-repeat="schema.properties">
              <label for="{{$key}}">{{$key}}</label>
              <input name="{{$key}}" v-model="value" type="{{type | input_type}}" />
              <div v-if="description"><small>{{description}}</small></div>
          </div>
      </div>
      <textarea id="schema"
        v-component="json-textarea"
        v-with="content: schema"
        v-on="change: updateSchema"></textarea>
    </div>
    <textarea id="output" v-model="output"></textarea>
  </div>

  <script src="vue.min.js"></script>
  <script src="app.js"></script>
</body>
</html>
