<!DOCTYPE html>
<html>
<head>
  <title>vue-schema</title>
  <link rel="stylesheet" href="pure-min.css" />
  <link rel="stylesheet" href="app.css" />
</head>
<body>
  <div id="editor">
    <div id="left-side">
      <ul class="schema-links" v-component="schema-links">
        <li v-repeat="links"><a href="{{$value}}"
          v-on="click: setHref">{{$key}}</a></li>
      </ul>
      <div id="input" v-component="vue-schema" v-with="schema: schema, doc: doc">
        <div v-if="!schema.properties"><em>Pick a schema. Any schema!</em>
            <br /><small>Or paste one in the textarea below.</small></div>
          <form class="pure-form pure-form-aligned">
            <h1 v-if="schema.title">{{schema.title}}</h1>
            <div v-if="schema.description"><small>{{schema.description}}</small></div>
            <div v-repeat="schema.properties" v-component="json-schema-property"></div>
          </form>
      </div>
      <textarea id="schema"
        v-component="json-textarea"
        v-with="content: schema"
        v-on="change: updateSchema"></textarea>
    </div>
    <textarea id="output" v-model="output"></textarea>
  </div>

  <!-- templates -->
  <script id="json-schema-property" type="text/vue-template+html">
    <div v-if="type != 'object'" class="pure-control-group">
      <label for="{{$key}}">{{$key}}</label>
      <input name="{{$key}}" v-model="doc.{{$key}}" type="{{type | input_type}}" />
      <p class="pure-help-inline" v-if="description"><small>{{description}}</small></p>
    </div>
    <fieldset class="pure-control-group" v-if="type == 'object' && $key != '$ref'">
      <legend>{{$key}}</legend>
      <div v-component="json-schema-property" v-repeat="properties"></div>
    </fieldset>
  </script>

  <script src="vue.min.js"></script>
  <script src="app.js"></script>
</body>
</html>
